* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0 !important;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #707070;
  overflow-x: hidden;
  cursor: url("../img/Group 13.svg"), auto !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 25px;
}

/* Handle on hover */
::-moz-selection {
  background: #2d2d2d;
}

::selection {
  background: #2d2d2d;
}

.anim-white {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  position: absolute;
  opacity: 0;
  animation: animWhiteAnim 1s forwards 1s;
}

.cv {
  text-transform: uppercase;
  margin-top: -20px;
  padding-left: 50px;
  position: absolute;
  font-size: 60px;
  color: #919191;
  opacity: 0;
  font-weight: lighter;
  animation: menuAnimation 1s forwards 5.3s;
  transform-origin: 0% 50%;
}
.cv:after {
  display: block;
  content: "";
  border-bottom: solid 3px black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.cv:hover:after {
  transform: scaleX(1);
  transition-delay: 150ms;
}

.anim-white-border {
  height: 250px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  left: 0%;
  animation: animWhiteBgAnim 1.5s forwards 1s, spinClockOut 1.5s forwards 3s;
  display: flex;
}

@keyframes animWhiteBgAnim {
  0% {
    left: -200%;
    opacity: 1;
    width: 500px;
  }
  85% {
    width: 250px;
  }
  100% {
    left: 50%;
    opacity: 1;
    width: 250px;
  }
}
.beta {
  filter: grayscale(40%);
}

@keyframes alfa {
  0% {
    width: 200px;
    top: 30px;
    right: 50px;
  }
  50% {
    width: 200px;
    top: 0px;
    right: 0px;
  }
  100% {
    width: 100%;
    top: 0px;
    right: 0px;
  }
}
.anim-white-border-in {
  border: 2px solid white;
  opacity: 0;
  animation: animWhiteBgAnimIn 1.5s forwards 2s, spinClockin 3s forwards 3s;
  display: flex;
}

.anim-white-border-in-div {
  position: absolute;
  opacity: 0;
  background-color: white;
  margin: auto;
  animation: animWhiteBgAnimDiv 0.3s forwards 4.5s;
}

@keyframes animWhiteBgAnimDiv {
  0% {
    opacity: 1;
    height: 5%;
    width: 5%;
  }
  100% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}
.f-d {
  display: inline-block;
  position: relative;
  opacity: 0;
  animation: fD 5s infinite 7.3s ease-in-out;
  display: inline-block;
  width: 350px;
  font-size: 32px;
  top: 95px;
  height: 40px;
  white-space: nowrap;
}

.e-m-p {
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: 22px;
  white-space: nowrap;
  opacity: 0;
  animation: eMP 5s infinite 4.8s ease-in-out;
  display: inline-block;
  width: 350px;
  top: 95px;
  height: 40px;
}

@keyframes animWhiteBgAnimIn {
  0% {
    opacity: 0;
    width: 250px;
    height: 250px;
  }
  50% {
    width: 250px;
    height: 250px;
  }
  100% {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}
@keyframes spinClockOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@keyframes spinClockin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes animWhiteAnim {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes menuAnimation {
  0% {
    top: -60px;
    opacity: 0.1;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}
@keyframes nameAnimation {
  0% {
    top: -26px;
    opacity: 0.1;
  }
  100% {
    top: -46px;
    opacity: 1;
  }
}
@keyframes eMP {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: 10%;
    opacity: 1;
  }
  65% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -60%;
    opacity: 1;
  }
}
@keyframes fD {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: -13%;
    opacity: 1;
  }
  65% {
    left: -13%;
    opacity: 1;
  }
  100% {
    left: -90%;
    opacity: 1;
  }
}
@media screen and (max-width: 1080px) {
  .anim-white-border {
    width: 100px;
    height: 100px;
  }

  .anim-white-border-in {
    width: 75px;
    height: 75px;
  }

  @keyframes alfa {}
  @keyframes animWhiteBgAnim {
    0% {
      left: -200%;
      opacity: 1;
      width: 100px;
    }
    85% {
      width: 100px;
    }
    100% {
      left: 50%;
      opacity: 1;
      width: 100px;
      transform: translate(-50%, -50%);
    }
  }
  @keyframes animWhiteBgAnimIn {
    0% {
      opacity: 0;
      width: 100px;
      height: 100px;
    }
    50% {
      width: 100px;
      height: 100px;
    }
    100% {
      opacity: 1;
      width: 75px;
      height: 75px;
    }
  }
  @keyframes eMP {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .name-container {
    justify-content: center;
    display: flex;
  }

  @keyframes fD {
    0% {
      opacity: 0;
      left: -50%;
    }
    25% {
      opacity: 1;
      left: -50%;
    }
    75% {
      opacity: 0;
      left: -50%;
    }
    100% {
      opacity: 0;
      left: -50%;
    }
  }
  .f-d {
    animation: fD 9s infinite 4.8s;
    height: 40px;
    transform: translateX(-37%);
    width: 100vw !important;
  }

  .e-m-p {
    animation: eMP 9s infinite 8.3;
    transform: translateX(9%);
    width: 100vw !important;
  }
}
nav ul {
  animation: menuAnimation 1s forwards 5.3s;
  display: inline-block;
  opacity: 0;
  position: fixed;
  right: 50px;
  font-family: "Roboto", sans-serif;
  list-style: none;
  z-index: 100;
}
nav li {
  color: #707070;
}
nav :hover {
  color: black;
}

header {
  width: 100%;
  background-color: white;
  height: 100vh;
}
header h1 {
  font-family: "arial";
  display: inline-block;
  white-space: nowrap;
  position: relative;
  left: 40%;
  transform: translate(-50%, 50%);
  font-size: 5em;
  color: #2d2d2d;
  height: 90px;
  top: -46px;
  opacity: 0;
  animation: nameAnimation 1s forwards 5.3s;
}

a {
  text-decoration: none;
  color: unset;
  cursor: url("../img/Group 13.svg"), auto !important;
}

a:hover {
  color: black;
}

.name-container {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 25vh;
  display: flex;
}

#circularcursor {
  background-color: transparent;
  border: 1px solid black;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.four p, .three p, .one p {
  font-size: 14px;
}

.project h2 {
  color: white !important;
}
.project button {
  color: white !important;
}
.project button:hover {
  color: white !important;
  opacity: 0.8;
}
.project a {
  color: white !important;
}
.project a:hover {
  color: white !important;
  opacity: 0.5;
}

.projects-container {
  display: grid;
  margin: 80px auto 20px auto;
  grid-template-rows: 850px 500px 500px;
  grid-template-areas: "one two" "three three" "four four";
  width: 1000px;
}
.projects-container h2 {
  color: #2d2d2d;
  white-space: nowrap;
}
.projects-container button {
  white-space: nowrap;
  background: none;
  border: none;
  font-size: 14px;
  height: 20px;
}
.projects-container button:hover {
  color: #2d2d2d;
}

#projects {
  background-image: url("/img/adam-bg-darkener.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20px;
  background-color: #2d2d2d;
}
#projects p {
  color: white;
}
#projects .project:hover img {
  filter: grayscale(10%);
}
#projects img {
  filter: grayscale(80%);
  transition: 0.3s;
}
#projects img:hover {
  filter: grayscale(10%);
}

.one {
  grid-area: one;
  width: 400px;
  height: 570px;
  scroll-snap-align: center;
}
.one h2 {
  font-size: 20px;
  margin-top: 0px;
}
.one p {
  text-align: start;
  width: 69%;
  margin-top: 10px;
}
.one img {
  width: 100%;
}
.one button {
  right: 200px;
  margin-top: 20px;
}
.one hr {
  width: 400px;
  position: absolute;
  left: -200px;
}

.two {
  scroll-snap-align: center;
  transition: 0.5s;
  grid-area: two;
  height: 450px;
  width: 300px;
  left: 19vh;
  top: 190px;
  position: relative;
  border: 1px solid #9c9c9c;
  align-items: flex-end;
}
.two h2 {
  margin-left: 8px;
}
.two img {
  width: 100%;
}
.two p {
  font-size: 12px;
  text-align: start;
  margin: 10px 10px 0 8px;
}
.two button {
  bottom: 20px;
  right: 5px;
  margin-left: 8px;
  transition: 0.5s !important;
  position: absolute;
}

.two:hover {
  background-color: gray;
  color: white;
}
.two:hover h2,
.two:hover button {
  color: white;
}

.three {
  scroll-snap-align: center;
  grid-area: three;
  height: 500px;
  display: flex;
  width: 780px;
  justify-content: space-between;
  color: #707070;
  align-items: flex-start;
}
.three h2 {
  text-align: end;
}
.three img {
  width: 500px;
  top: -100px;
  right: 0px;
}
.three p {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
  text-align: end;
}
.three button {
  top: 200px;
  margin-left: 140px;
}
.three div {
  height: 400px;
  padding-right: 5px;
  width: 220px;
}

.four {
  grid-area: four;
  display: flex;
  height: 400px;
  width: 1000px;
  color: #707070;
  transition: 0.5s;
}
.four p {
  margin-right: 15px;
  margin-left: 15px;
  text-align: justify;
}
.four button {
  top: 40px;
  right: 70px;
  position: relative;
}
.four h2 {
  margin-left: 20px;
}
.four img {
  height: 300px;
  border: 1px solid #dbdbdb;
}

#about-me {
  font-size: 14px;
  margin-top: 70px;
}
#about-me .about-me-container {
  height: 1100px;
  position: relative;
  width: 1000px;
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-areas: "ein" "zwei";
}

.text {
  grid-area: text;
  width: 570px;
  height: 400px;
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.zw {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.text-show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.text-showb {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.ein {
  grid-area: ein;
  margin-bottom: 0px;
  width: auto;
  display: grid;
  grid-template-areas: "text picContainer";
}
.ein p:first-child {
  width: 410px;
  text-align: justify;
  padding: 2px;
}
.ein .pii {
  width: 310px;
  text-align: justify;
  left: 240px;
  position: relative;
  top: -160px;
}

.pic-container {
  border: 1px solid #606060;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 60px;
  right: 30px;
}
.pic-container:hover .alfa {
  animation: alfa 0.8s forwards;
  filter: grayscale(50%) !important;
}

.beta {
  width: 301px;
  z-index: 1;
  top: -1px;
  position: relative;
}

.alfa {
  position: absolute;
  width: 200px;
  z-index: 2;
  top: 30px;
  right: 50px;
  transition: 0.3s;
  filter: grayscale(80%) !important;
}
.alfa:hover {
  animation: alfa 0.8s forwards;
  filter: grayscale(50%) !important;
}

.zwei {
  grid-area: zwei;
  display: flex;
  height: 245px;
  text-align: justify;
  left: -140px;
}
.zwei img {
  height: 100%;
  align-self: center;
}
.zwei p {
  width: 300px;
  margin-left: 15px;
}

.upper-container div:nth-child(1) {
  background-image: url("/img/hobbi/upper/hobby 1.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(1):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(2) {
  background-image: url("/img/hobbi/upper/hobby 2.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(2):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(3) {
  background-image: url("/img/hobbi/upper/hobby 3.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(3):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(4) {
  background-image: url("/img/hobbi/upper/hobby 4.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(4):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(5) {
  background-image: url("/img/hobbi/upper/hobby 5.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(5):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(6) {
  background-image: url("/img/hobbi/upper/hobby 6.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(6):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(7) {
  background-image: url("/img/hobbi/upper/hobby 7.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(7):hover {
  filter: grayscale(0%);
}

.upper-container div:nth-child(8) {
  background-image: url("/img/hobbi/upper/hobby 8.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.upper-container div:nth-child(8):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(1) {
  background-image: url("/img/hobbi/lower/hobby 1.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(1):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(2) {
  background-image: url("/img/hobbi/lower/hobby 2.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(2):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(3) {
  background-image: url("/img/hobbi/lower/hobby 3.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(3):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(4) {
  background-image: url("/img/hobbi/lower/hobby 4.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(4):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(5) {
  background-image: url("/img/hobbi/lower/hobby 5.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(5):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(6) {
  background-image: url("/img/hobbi/lower/hobby 6.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(6):hover {
  filter: grayscale(0%);
}

.lower-container div:nth-child(7) {
  background-image: url("/img/hobbi/lower/hobby 7.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(70%);
}
.lower-container div:nth-child(7):hover {
  filter: grayscale(0%);
}

#graphs {
  justify-content: center;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  background-color: #d9d9d9;
}
#graphs .upper-container {
  display: flex;
}
#graphs .upper-container div {
  width: 70px;
  height: 70px;
  background-color: rebeccapurple;
  margin: 15px;
}
#graphs .lower-container {
  display: flex;
  justify-content: flex-end;
}
#graphs .lower-container div {
  width: 70px;
  height: 70px;
  background-color: #393c4b;
  margin: 15px;
}

#skills {
  display: flex;
  justify-content: center;
}
#skills .content-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
#skills table {
  margin-top: 80px;
  margin-bottom: 200px;
  width: 70vw;
}
#skills tr :nth-child(2) {
  padding-left: 15vw;
}
#skills td {
  font-size: 4vw;
  min-width: 340px;
  margin: 10px;
  line-height: 100px;
  height: auto;
}

footer {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .contact {
  display: block;
  width: 300px;
  margin-left: 100px;
  list-style: none;
  font-size: 18px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 40px;
  margin-bottom: 30px;
}
footer .links li {
  list-style: none;
  width: auto;
  margin: 5px;
}

.ider {
  text-transform: lowercase;
  padding-left: 5px;
}

@media screen and (max-width: 1080px) {
  header h1 {
    font-size: 3em;
    transform: translate(58%, 50%);
    white-space: nowrap;
  }

  #circularcursor {
    display: none;
  }

  main {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }

  nav ul {
    position: absolute;
  }

  .upper-container div,
.lower-container div {
    margin: 20px 5px !important;
    height: 30px !important;
    width: 30px !important;
  }

  .cv {
    display: none;
  }

  .contact {
    margin-left: 30px !important;
  }

  .projects-container {
    display: grid;
    margin: 80px auto 20px auto;
    grid-template-rows: 850px auto 890px 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    grid-template-areas: "one" "two" "three" "four";
    width: 103vw;
  }

  .one,
.three,
.four {
    width: 100vw;
  }

  .one {
    padding-left: 8px;
    height: auto;
  }
  .one img {
    width: 90%;
  }
  .two {
    margin: 0 auto 80px auto;
    min-height: 550px;
    width: 80vw;
    left: 0;
    top: 0;
    height: auto;
  }
  .two button {
    margin-top: 20px;
  }

  .three {
    flex-direction: column;
    background-color: #f2fff2;
    padding-top: 20px;
    height: 370px;
  }
  .three img {
    width: 100vw;
  }
  .three h2 {
    color: black !important;
  }
  .three p {
    margin-bottom: 10px;
    color: black !important;
  }
  .three div {
    height: 350px;
    width: 95%;
  }
  .three button {
    margin-bottom: 5px;
    margin-left: 75%;
    color: black !important;
  }

  .four {
    flex-direction: column;
  }
  .four h2 {
    width: 90px;
  }
  .four img {
    width: 100vw;
    height: auto;
  }
  .four button {
    top: -28px;
    right: 0;
  }
  .four a {
    display: block;
    width: 90%;
    text-align: end;
  }

  .about-me-container {
    height: auto !important;
    width: 100vw !important;
  }

  .ein {
    grid-template-areas: "text" "picContainer";
    height: auto;
  }

  .pii {
    left: 0px !important;
    top: unset !important;
    width: 95vw !important;
  }

  .prim {
    width: 95vw !important;
  }
  .prim br {
    content: " ";
    display: none;
  }

  .pic-container {
    position: unset;
    width: 100vw;
    height: auto;
    margin-bottom: 40px;
  }

  .alfa {
    top: -50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .alfa:hover {
    width: 200px;
    top: -50px;
    right: 0;
    filter: grayscale(0%) !important;
  }

  .beta {
    width: 100%;
  }

  .zwei {
    display: block;
    height: auto;
  }
  .zwei p {
    width: 100vw;
    margin-left: 0;
    padding: 5px;
  }
  .zwei img {
    height: auto;
    width: 100vw;
  }

  .text {
    width: 100vw;
    font-size: 12px;
    padding: 5px;
  }

  #skills td {
    min-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .projects-container {
    display: grid;
    margin: 80px auto 20px auto;
    grid-template-rows: 750px auto 700px 700px;
    grid-template-areas: "one" "two" "three" "four";
    width: 103vw;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }
  footer .contact,
footer .links {
    width: 100%;
    text-align: center;
  }
  footer .links {
    justify-content: center;
    padding-right: unset;
    color: black;
  }
  footer .contact {
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
