$name-and-menu-delay: 5.3s;
$animWhiteAnim-delay: 1s;
.anim-white {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  position: absolute;
  opacity: 0;
  animation: animWhiteAnim 1s forwards $animWhiteAnim-delay;
}
.anim-white-border {
  height: 250px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  opacity: 1;

  left: 0%;
  animation: animWhiteBgAnim 1.5s forwards 1s, spinClockOut 1.5s forwards 3s;
  display: flex;
}
@keyframes animWhiteBgAnim {
  0% {
    left: -200%;
    opacity: 1;
    width: 500px;
  }
  85% {
    width: 250px;
  }
  100% {
    left: 50%;
    opacity: 1;
    width: 250px;
  }
}
.anim-white-border-in {
  border: 2px solid white;
  opacity: 0;
  animation: animWhiteBgAnimIn 1.5s forwards 2s, spinClockin 3s forwards 3s;
  display: flex;
}
.anim-white-border-in-div {
  position: absolute;
  opacity: 0;
  background-color: white;
  margin: auto;
  animation: animWhiteBgAnimDiv 0.3s forwards 4.5s;
}
@keyframes animWhiteBgAnimDiv {
  0% {
    opacity: 1;
    height: 5%;
    width: 5%;
  }
  100% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}

.f-d {
  display: inline-block;
  position: relative;
  opacity: 0;
  animation: fD 5s infinite 7.3s ease-in-out;
  display: inline-block;
  width: 350px;
  font-size: 32px;
  top: 95px;
  height: 40px;
  white-space: nowrap;
}
.e-m-p {
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: 22px;
  white-space: nowrap;

  opacity: 0;
  animation: eMP 5s infinite 4.8s ease-in-out;
  display: inline-block;
  width: 350px;
  top: 95px;
  height: 40px;
}
@keyframes animWhiteBgAnimIn {
  0% {
    opacity: 0;
    width: 250px;
    height: 250px;
  }
  50% {
    width: 250px;
    height: 250px;
    // background-color: white;
  }

  100% {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}

@keyframes spinClockOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  85% {
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes spinClockin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes animWhiteAnim {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes menuAnimation {
  0% {
    top: -60px;
    opacity: 0.1;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}

@keyframes nameAnimation {
  0% {
    top: -26px;
    opacity: 0.1;
  }
  100% {
    top: -46px;
    opacity: 1;
  }
}

@keyframes eMP {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: 10%;
    opacity: 1;
  }
  65% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -60%;
    opacity: 1;
  }
}
@keyframes fD {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: -13%;
    opacity: 1;
  }
  65% {
    left: -13%;
    opacity: 1;
  }
  100% {
    left: -90%;
    opacity: 1;
  }
}

@media screen and (max-width: 1080px) {
  .anim-white-border {
    width: 100px;
    height: 100px;
  }
  .anim-white-border-in {
    width: 75px;
    height: 75px;
  }

  @keyframes animWhiteBgAnim {
    0% {
      left: -200%;
      opacity: 1;
      width: 100px;
    }
    85% {
      width: 100px;
    }
    100% {
      left: 50%;
      opacity: 1;
      width: 100px;
      transform: translate(-50%, -50%);
    }
  }
  @keyframes animWhiteBgAnimIn {
    0% {
      opacity: 0;
      width: 100px;
      height: 100px;
    }
    50% {
      width: 100px;
      height: 100px;
    }

    100% {
      opacity: 1;
      width: 75px;
      height: 75px;
    }
  }
  @keyframes eMP {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  .name-container {
    justify-content: center;
    display: flex;
  }
  @keyframes fD {
    0% {
      opacity: 0;
      left: -50%;
    }

    25% {
      opacity: 1;
      left: -50%;
    }
    75% {
      opacity: 0;
      left: -50%;
    }

    100% {
      opacity: 0;
      left: -50%;
    }
  }

  .f-d {
    animation: fD 9s infinite 4.8s;
    height: 40px;
    transform: translateX(-37%);

    width: 100vw !important;
  }
  .e-m-p {
    animation: eMP 9s infinite 8.3;
    transform: translateX(9%);
    width: 100vw !important;
  }
}
