$name-and-menu-delay: 5.3s;
$animWhiteAnim-delay: 1s;
.anim-white {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  position: absolute;
  opacity: 0;
  animation: animWhiteAnim 1s forwards $animWhiteAnim-delay;
}

.cv {
  text-transform: uppercase;
  margin-top: -20px;

  padding-left: 50px;
  position: absolute;
  font-size: 60px;
  color: #919191;
  opacity: 0;
  font-weight: lighter;
  animation: menuAnimation 1s forwards $name-and-menu-delay;
  transform-origin: 0% 50%;

  &:after {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transition-delay: 150ms;
  }
}

.anim-white-border {
  height: 250px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  opacity: 1;

  left: 0%;
  animation: animWhiteBgAnim 1.5s forwards 1s, spinClockOut 1.5s forwards 3s;
  display: flex;
}
@keyframes animWhiteBgAnim {
  0% {
    left: -200%;
    opacity: 1;
    width: 500px;
  }
  85% {
    width: 250px;
  }
  100% {
    left: 50%;
    opacity: 1;
    width: 250px;
  }
}
.beta {
  filter: grayscale(40%);
}
@keyframes alfa {
  0% {
    width: 200px;
    top: 30px;
    right: 50px;
  }
  50% {
    width: 200px;
    top: 0px;
    right: 0px;
  }
  100% {
    width: 100%;
    top: 0px;
    right: 0px;
  }
}
.anim-white-border-in {
  border: 2px solid white;
  opacity: 0;
  animation: animWhiteBgAnimIn 1.5s forwards 2s, spinClockin 3s forwards 3s;
  display: flex;
}
.anim-white-border-in-div {
  position: absolute;
  opacity: 0;
  background-color: white;
  margin: auto;
  animation: animWhiteBgAnimDiv 0.3s forwards 4.5s;
}
@keyframes animWhiteBgAnimDiv {
  0% {
    opacity: 1;
    height: 5%;
    width: 5%;
  }
  100% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}

.f-d {
  display: inline-block;
  position: relative;
  opacity: 0;
  animation: fD 5s infinite 7.3s ease-in-out;
  display: inline-block;
  width: 350px;
  font-size: 32px;
  top: 95px;
  height: 40px;
  white-space: nowrap;
}
.e-m-p {
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: 22px;
  white-space: nowrap;

  opacity: 0;
  animation: eMP 5s infinite 4.8s ease-in-out;
  display: inline-block;
  width: 350px;
  top: 95px;
  height: 40px;
}
@keyframes animWhiteBgAnimIn {
  0% {
    opacity: 0;
    width: 250px;
    height: 250px;
  }
  50% {
    width: 250px;
    height: 250px;
    // background-color: white;
  }

  100% {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}

@keyframes spinClockOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  85% {
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes spinClockin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes animWhiteAnim {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes menuAnimation {
  0% {
    top: -60px;
    opacity: 0.1;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}

@keyframes nameAnimation {
  0% {
    top: -26px;
    opacity: 0.1;
  }
  100% {
    top: -46px;
    opacity: 1;
  }
}

@keyframes eMP {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: 10%;
    opacity: 1;
  }
  65% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -60%;
    opacity: 1;
  }
}
@keyframes fD {
  0% {
    left: 160%;
    opacity: 1;
  }
  50% {
    left: -13%;
    opacity: 1;
  }
  65% {
    left: -13%;
    opacity: 1;
  }
  100% {
    left: -90%;
    opacity: 1;
  }
}
.name-container {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 25vh;
  display: flex;
}

@media screen and (max-width: 1080px) {
  .anim-white-border {
    width: 100px;
    height: 100px;
  }
  .anim-white-border-in {
    width: 75px;
    height: 75px;
  }
  @keyframes alfa {
    0% {
    }
    50% {
    }
    100% {
    }
  }
  @keyframes spinClockOut {
    0% {
      transform: translate(-50%, -150%) rotate(0deg);
    }
    85% {
    }
    100% {
      transform: translate(-50%, -150%) rotate(90deg);
    }
  }
  @keyframes animWhiteBgAnim {
    0% {
      left: -200%;
      opacity: 1;
      width: 100px;
      transform: translate(-50%, -150%);
    }
    85% {
      width: 100px;
      transform: translate(-50%, -150%);
    }
    100% {
      left: 50%;
      opacity: 1;
      width: 100px;
      transform: translate(-50%, -150%);
    }
  }
  @keyframes animWhiteBgAnimIn {
    0% {
      opacity: 0;
      width: 100px;
      height: 100px;
    }
    50% {
      width: 100px;
      height: 100px;
    }

    100% {
      opacity: 1;
      width: 75px;
      height: 75px;
    }
  }
  .name-container {
    justify-content: center;
    display: flex;

    height: 10vh;
    width: 100%;

    top: 25vh;
  }
  @keyframes eMP {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fD {
    0% {
      opacity: 0;
      left: -50%;
    }

    10% {
      opacity: 1;
      left: -50%;
    }
    20% {
      opacity: 1;
      left: -50%;
    }

    30% {
      opacity: 1;
      left: -50%;
    }
    40% {
      opacity: 0;
      left: -50%;
    }
    50% {
      opacity: 0;
      left: -50%;
    }
    60% {
      opacity: 0;
      left: -50%;
    }
    70% {
      opacity: 0;
      left: -50%;
    }
    80% {
      opacity: 0;
      left: -50%;
    }
    90% {
      opacity: 0;
      left: -50%;
    }
    100% {
      opacity: 0;
      left: -50%;
    }
  }

  .f-d {
    animation: fD 9s infinite 5.5s;
    height: 40px;
    transform: translateX(-37%);
    top: 7vh;
    width: 100vw !important;
  }
  .e-m-p {
    animation: eMP 9s infinite 5.5s;
    transform: translateX(9%);
    width: 100vw !important;
    top: 7vh;
  }
}
