@import "_vars";
* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
	font-family: $primaryText;
	color: $lightGray;
}

::-webkit-scrollbar {
	width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
	background: $lightGray;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: $darkGray;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	// background: #1b0d01;
}

::-moz-selection {
	background: #831005;
}

::selection {
	background: $darkGray;
}



nav {
	ul {
		//   border: $border;
		display: inline-block;
		position: fixed;
		right: 50px;
		top: 50px;
		font-family: $secondaryText;
		list-style: none;
		z-index: 100;
	}

	li {
        // color: text($bg);
		color: $lightGray;
		cursor: pointer;
	}
	 :hover {
		color: black;
	}
}
a{
	text-decoration: none;
	color: unset;
}

header {
	width: 100%;
	background-color: burlywood;
	height: 100vh;
	h1 {
		font-family: $secondaryText;
		border: $border;
		display: inline-block;
		position: absolute;
		top: 60vh;
		left: 40%;
		transform: translateX(-50%);
		font-size: 5em;
		color: $darkGray;
	}
	h2 {
		border: $border;
		display: inline-block;
		position: absolute;
		top: 86vh;
		left: 40%;
	}
}

#projects {
	position: relative;
	width: 100%;
	height: auto;
}

%project-descr {
	font-size: 14px;
}

.projects-container {
	position: relative;
	width: 1000px;
	height: 1900px;
	margin: 0 auto;
	margin-right: 150px;
	h2 {
		color: $darkGray;
		white-space: nowrap;
	}
	button {
		white-space: nowrap;
		background: none;
		border: none;
		font-size: 14px;
		cursor: pointer;
		height: 20px;
	}
	button:hover {
		color: $darkGray;
	}
}

.one {
	position: relative;
	display: inline-block;
	width: 400px;
	margin-left: 90px;
	h2 {
		font-size: 20px;
		margin-top: 20px;
	}
	p {
		@extend %project-descr;
		text-align: start;
		width: 69%;
		margin-top: 10px;
		// border: $border;
	}
	img {
		width: 400px;
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	hr {
		width: 400px;
		position: absolute;
		left: -300px;
	}
}

.two {
	position: absolute;
	display: inline-block;
	width: 300px;
	border: 1px solid $lightGray;
	width: 250px;
	right: 0;
	margin-top: 200px;
	transition: .5s;
	img {
		width: 100%;
	}
	p {
		font-size: 12px;
		text-align: start;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.two:hover {
	background-color: red;
}

.three {
	margin-top: 100px;
	display: flex;
	width: 780px;
	right: 0px;
	position: absolute;
	color: $lightGray;
	img {
		width: 500px;
		right: 0px;
		position: absolute;
	}
	p {
		@extend %project-descr;
		text-align: start;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	button {
		position: absolute;
		top: 200px;
		left: 130px;
	}
	p {
		width: 100%;
		text-align: end;
	}
	div {
		height: 400px;
		width: 220px;
		border: 1px solid $lightGray
	}
}

.four {
	display: flex;
	min-width: 900px;
	position: absolute;
	color: $lightGray;
	// right: 0;
	top: 1300px;
	transition: .5s;
	p {
		@extend %project-descr;
		margin-right: 15px;
	}
	button {
		top: 50px;
		position: relative;
		right: 80px;
	}
	h2 {
		margin-left: 20px;
	}
	img {
		height: 350px
	}
}

#hr-Snip {
	color: green;
	width: 180px;
	right: 0;
	position: absolute;
	margin-top: -200px;
	border-top: 3px solid red;
}

#about-me {
	// background-color: rgb(141, 141, 141);
    font-size: 14px;

    .about-me-container
    {
        height: 500px;
        position: relative;
        width: 1000px;
        height: 1050px;
        margin: 0 auto;
        padding-top: 50px;
	
    }
}
.ein
{
    p:first-child
    {
        width: 410px;
        text-align: justify;
        padding: 2px;
		
    }
    .pii
    {
        width: 310px;
        text-align: justify;
        left: 240px;
        position: relative;
        top: -110px;
		border: $border;
    }
   
}

.pic-container
{
	border: $border;
	width: 300px;
	position: absolute;
	top:60px;
	right: 30px;
}
.beta
{
	width: 300px;
	z-index: 1;position: relative;
}

.alfa
{
	position: absolute;
	width: 200px;
	z-index: 2;
	top: 30px;
	right: 50px
	
}
.zwei
{
display: flex;
	width: 100vw;
	left: -140px;
	position: absolute;
	img{
		width: 750px
	}
	p{
		width: 300px;
		margin-left: 5px
	}
	
}

#graphs
{
	width: 100%;
	height: 400px;
	// background-color: lightgreen;
	.upper-container
	{	
		display: flex;

		div
		{
			width: 70px;
			height: 70px;
			background-color: rebeccapurple;
			margin: 15px;
		}
	}.lower-container
	{
		display: flex;
		
		justify-content: flex-end;
		div
		{
			width: 70px;
			height: 70px;
			background-color: rgb(57, 60, 75);
			margin: 15px;
		}
	}
	
}

#skills
{
	display: flex;
	justify-content: center;
	.content-container
	{
		width: 800px;
		height: auto;
	
		display: flex;
		justify-content: center;
	}
	table{
		margin-bottom: 200px;
		// border:$border;
	}
	
	tr :nth-child(2)
	{
	padding-left: 90px;
	
	}
	td
	{
		
font-size: 40px;
width: 320px;
display: inline-block;
margin: 0;
line-height: 0px;
height: 70px

	}
}

footer{
	.contact
	{
		// border: $border;
		display: block;
		width: 300px;
		margin-left: 100px;
		list-style: none;
		font-size: 18px;
		margin-bottom: 50px;
		font-family: $primaryText;
	}
	.links
	{
		display: flex;
		flex-direction: row;
		// border: $border;
		justify-content: end;
		padding-right: 40px;
		margin-bottom: 30px;
		li 
		{
			list-style: none;
			width: auto;
			// border: $border;
			margin: 5px;
		}
	}
}

















@function nav-clr($color) {
    @if (lightness($color) > 50) {
      @return #000;
    } @else {
      @return #fff;
    }
  }