@import "_vars";
@import "keyframes";

nav {
  ul {
    animation: menuAnimation 1s forwards $name-and-menu-delay;
    display: inline-block;
    opacity: 0;
    position: fixed;
    right: 50px;
    font-family: $secondaryText;
    list-style: none;
    z-index: 100;
  }

  li {
    // color: text($bg);
    color: $lightGray;
    cursor: pointer;
  }
  :hover {
    color: black;
  }
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: black;
}

header {
  width: 100%;
  background-color: white;
  height: 100vh;
  h1 {
    font-family: $secondaryText;
    display: inline-block;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    font-size: 5em;
    color: $darkGray;
    opacity: 0;
    animation: nameAnimation 1s forwards $name-and-menu-delay;
  }
}

// #projects {
//   position: relative;
//   width: 1000px;
//   height: auto;
//   // border: $border;
//   margin: 100px auto;
// }

%project-descr {
  font-size: 14px;
}

.projects-container {
  display: grid;
  margin: 80px auto 20px auto;
  grid-template-rows: 750px 450px 500px;
  grid-template-areas:
    "one two"
    "three three"
    "four four";
  width: 1000px;

  h2 {
    color: $darkGray;
    white-space: nowrap;
  }
  button {
    white-space: nowrap;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    height: 20px;
  }
  button:hover {
    color: $darkGray;
  }
}

.one {
  grid-area: one;
  width: 400px;
  height: 570px;
  h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  p {
    @extend %project-descr;
    text-align: start;
    width: 69%;
    margin-top: 10px;
    // border: $border;
  }
  img {
    width: 100%;
  }
  button {
    right: 200px;
    margin-top: 20px;
  }
  hr {
    width: 400px;
    position: absolute;
    left: -200px;
  }
}

.two {
  grid-area: two;
  height: 500px;
  width: 300px;
  left: -100px;
  top: 100px;
  position: relative;
  border: 1px solid $lightGray;
  border: 1px solid $darkGray;

  h2 {
    margin-left: 8px;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 12px;
    text-align: start;
    margin: 10px 50px 0 8px;
  }
  button {
    bottom: 0;
    right: 0;
    margin-left: 8px;
  }
}

.two:hover {
  background-color: gray;
  color: white;
  h2,
  button {
    color: white;
  }
}

.three {
  grid-area: three;
  height: 500px;
  display: flex;
  width: 780px;
  justify-content: space-between;
  color: $lightGray;
  align-items: flex-start;

  h2 {
    text-align: end;
  }
  img {
    width: 500px;
    top: -100px;
    right: 0px;
  }
  p {
    @extend %project-descr;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 50px;

    width: 100%;
    text-align: end;
  }
  button {
    top: 200px;
    margin-left: 140px;
  }

  div {
    height: 400px;
    padding-right: 5px;
    width: 220px;
    // border: 1px solid $lightGray;
  }
}

.four {
  grid-area: four;

  display: flex;
  height: 400px;
  width: 1000px;

  color: $lightGray;
  // right: 0;

  transition: 0.5s;
  p {
    @extend %project-descr;
    margin-right: 15px;
  }
  button {
    top: 40px;
    right: 70px;
    position: relative;
  }
  h2 {
    margin-left: 20px;
  }
  img {
    height: 350px;
  }
}

#hr-Snip {
  color: green;
  width: 180px;
  right: 0;
  position: absolute;
  margin-top: -200px;
  border-top: 3px solid red;
}

#about-me {
  // background-color: rgb(141, 141, 141);
  font-size: 14px;

  .about-me-container {
    height: 950px;
    position: relative;
    width: 1000px;

    margin: 0 auto 80px auto;
    display: grid;
    grid-template-areas:
      "ein"
      "zwei";
  }
}
.text {
  grid-area: text;

  width: 570px;
  height: 400px;
}

.ein {
  grid-area: ein;
  margin-bottom: 0px;
  width: auto;
  display: grid;

  grid-template-areas: "text picContainer";

  p:first-child {
    width: 410px;
    text-align: justify;
    padding: 2px;
  }
  .pii {
    width: 310px;
    text-align: justify;
    left: 240px;
    position: relative;
    top: -110px;
  }
}

.pic-container {
  border: $border;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 60px;
  right: 30px;
}
.beta {
  width: 300px;
  z-index: 1;
  position: relative;
}

.alfa {
  position: absolute;
  width: 200px;
  z-index: 2;
  top: 30px;
  right: 50px;
}
.zwei {
  grid-area: zwei;
  display: flex;
  height: 300px;
  // width: 100vw;
  left: -140px;
  border: $border;

  img {
    height: 100%;
    align-self: center;
  }
  p {
    width: 300px;
    margin-left: 15px;
  }
}

#graphs {
  justify-content: center;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  // background-color: lightgreen;
  .upper-container {
    display: flex;

    div {
      width: 70px;
      height: 70px;
      background-color: rebeccapurple;
      margin: 15px;
    }
  }
  .lower-container {
    display: flex;

    justify-content: flex-end;
    div {
      width: 70px;
      height: 70px;
      background-color: rgb(57, 60, 75);
      margin: 15px;
    }
  }
}

#skills {
  display: flex;
  justify-content: center;

  .content-container {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
  }
  table {
    margin-top: 80px;
    margin-bottom: 200px;
    // border:$border;
    width: 70vw;
  }

  tr :nth-child(2) {
    padding-left: 15vw;
  }
  td {
    font-size: 4vw;
    min-width: 340px;
    margin: 10px;
    line-height: 100px;
    height: auto;
    // border: $border;
  }
}

footer {
  .contact {
    // border: $border;
    display: block;
    width: 300px;
    margin-left: 100px;
    list-style: none;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: $primaryText;
  }
  .links {
    display: flex;
    flex-direction: row;
    // border: $border;
    justify-content: end;
    padding-right: 40px;
    margin-bottom: 30px;
    li {
      list-style: none;
      width: auto;
      // border: $border;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    overflow-x: hidden;
  }
  nav {
    ul {
      position: absolute;
    }
  }
  .upper-container,
  .lower-container {
    div {
      margin: 20px 5px !important;
      height: 30px !important;
      width: 30px !important;
    }
  }
  .contact {
    margin-left: 30px !important;
  }
  .projects-container {
    display: grid;
    margin: 80px auto 20px auto;
    grid-template-rows: 750px 700px 700px 700px;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    width: 100vw;
  }
  .one,
  .three,
  .four {
    width: 100vw;
  }

  .one {
    border: $border;
    padding-left: 8px;
    img {
      width: 90%;
    }
  }

  .two {
    margin: 0 auto;
    height: 550px;
    width: 80vw;
    left: 0;
    top: 0;
  }

  .three {
    flex-direction: column;
    img {
      width: 100vw;
    }
  }
  .four {
    flex-direction: column;
    img {
      width: 100vw;
      height: auto;
    }
  }
  .about-me-container {
    height: auto !important;
    width: 100vw !important;
  }
  .ein {
    grid-template-areas:
      "text"
      "picContainer";
    height: auto;
  }
  .pii {
    left: 0px !important;
    top: unset !important;
    width: 95vw !important;
  }
  .prim {
    width: 95vw !important;
    br {
      content: " ";
      display: none;
    }
  }
  .pic-container {
    position: unset;
    width: 100vw;
    height: auto;
    margin-bottom: 40px;
  }
  .alfa {
    position: unset;
  }
  .zwei {
    display: block;
    height: auto;
    p {
      width: 100vw;
      margin-left: 0;
      padding: 5px;
    }
    img {
      height: auto;
      width: 100vw;
    }
  }
  .text {
    width: 100vw;
    font-size: 12px;
    padding: 5px;
  }
  #skills {
    td {
      min-width: unset;
    }
  }
}
